@import './assets/fonts/scss/font.scss';

html {
  font-family: 'Vazir', system-ui, sans-serif;
  direction: rtl;
}
body {
  height: 100vh;
  background-color: rgb(245, 241, 241);
  #root {
    height: 100vh;
  }
}
